<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tubewiki.home">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>

        <activity
            android:name=".activity.AllColumnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.JmbonCircleActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppGlobalTheme.NoActionBar" />
        <activity
            android:name=".activity.article.details.ArticleDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommonQuestionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppGlobalTheme.NoActionBar"/>
        <activity
            android:name=".activity.TubeStepActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EmptyArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleColumnDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppGlobalTheme.NoActionBar" />
        <activity
            android:name=".activity.ChooseCityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/CommonGrayTheme" />

        <activity
            android:name=".activity.SearchCityActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.QuestionCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayTheme"/>

        <activity
            android:name=".doctor.activity.DoctorDetailActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".doctor.activity.DoctorListActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme"/>

        <activity android:name=".doctor.activity.DoctorSearchActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme"/>

        <activity
            android:name=".hospital.activity.AllHospitalDoctorActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity android:name=".hospital.activity.HospitalAllSearchActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme"/>

        <activity
            android:name=".hospital.activity.HospitalDetailActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".hospital.activity.HospitalListActivity"
            android:configChanges="locale|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme"/>
        <activity
            android:name=".activity.detail.ExperienceDetailActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>