<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jmbon.minitools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".recommend.activity.ChooseContainerActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name=".recommend.activity.ChooseHomeActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme" />

        <activity
            android:name=".recommend.activity.TubeGuideActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme" />

        <activity
            android:name=".advisory.activity.AdvisoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/F7Theme"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity
            android:name=".report.view.SelfTestActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />

        <activity
            android:name=".report.view.FertilityAbilityTestResultActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonWhiteNoTitleTheme" />

        <activity
            android:name=".report.view.PublicTemplateActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme" />

        <activity
            android:name=".tubetest.view.FallopiansPregProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".tubetest.view.ManPregProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".tubetest.view.OvarysPregProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".tubetest.view.PregnantNumProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.TryTubeProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.ChoiceCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.TubeSpecialProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".tubetest.view.TubeTypeProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.CalculateResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.GetSchemeResultActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".tubetest.view.PreparationPregProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".tubetest.view.TubeIndexActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".tubetest.view.UterussPregProblemActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />

        <activity
            android:name=".pregnancy.view.PregnancyResultActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/CommonGrayNoTitleTheme" />

    </application>


</manifest>